.sliderCol {
	min-width: 0;
	overflow: hidden;
}

.slider > div:first-child {
	justify-content: flex-end;
	margin-bottom: 16px;
}

.slider :global(.swiper) {
	overflow: visible;
	width: 100%;
}

.slide {
	height: auto;
	width: auto;
}
